<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Mission to Mars</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
 
 
  </head>
  
  <body>
    <div class="container">
	
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-secondary btn-lg" href="/scrape" role="button">Scrape that Data Up</a></p>
      </div>
	  
	  <div class="container">
	    <div class="row">
		  <div class="col-lg-8 col-md-8 col-sm-12">
            <h2>Latest Mars News</h2>
			<div class="card" style="width: 100%;">
			  <div class="card-body bg-light">
              <h5 class="card-title" style="color: #a1251b">{{ mars_collection.news_title }}</h5>
   		      <p class="card-text" style="color: #a1251b">{{ mars_collection.news_p }}</p>
			  </div>
			</div>
          </div>
			
			<div class="col-lg-4 col-md-4 col-sm-12">
			  <div class="card">
                <div class="card-body text-white" style="background-color:#c67b5c;">
                  <h6 class="card-title">Current Weather on Mars</h6>
                  <p class="card-text">{{ mars_collection.mars_weather }}</p>
                </div>
		      </div>
			</div>
		</div>
      </div>		
	  <div class="container">	
		<div class="row">
		  <div class="col-lg-8 col-md-8 col-sm-12">
            <h3 style="margin-top: 40px;">Featured Mars Image</h3>
            <img src="{{ mars_collection.featured_image_url }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
          </div>
		  <div class="col-lg-4 col-md-4 col-sm-12">
		    <h3 style="margin-top: 40px;">Mars Facts</h3>
			<div>
              {{ mars_collection.facts | safe }}
			</div>
          </div>
		</div> 
	  </div>
		
	  <div class="container">
	    <h2 style="padding-top: 60px; margin-top: 60px; text-align: center;">Mars Hemispheres</h2>
	    <hr>
	    <div class="card-deck">
          <div class="col-md-12">
            <div class="row">
              {% for img in mars_collection.hemisphere_image_urls %}
              <div class="col-md-6">
                <div class="card text-white bg-dark" style="margin: 30px;">
                  <img class="card-img-top" src="{{ img.img_url }}" />
                  <div class="card-body">
                    <p class="card-text">{{ img.title }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
		  </div>
        </div>
	  </div>
	</div>
	
	
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
  
</html>